body {
    background-color: #b30000;
    align-content: center;
}

.list{
    width: 50%;
    background-color: #cccccc;
    border-bottom-style: solid;
    border-radius: 5px;
    text-align: center;
}
